<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail topic</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<h1>Detail topic</h1>
<p>
    <a href="/topic/list">Topic list</a>
</p>
<form th:object="${topic}">
    <div class="form-group">
        <label for="topic">Topic</label>
        <input disabled th:field="*{topic}" class="form-control" id="topic">
    </div>
    <button type="button" class="btn btn-success"><a href="/topic/list">Done</a></button>
</form>
</body>
</html>