<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit blog</title>
</head>
<body>
<h1>Edit blog</h1>
<p>
    <a href="/list">Song list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-song}" th:object="${song}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Singer:</td>
            <td><input type="text" th:field="*{singer}"/></td>
            <td th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}">Name Error</td>
        </tr>
        <tr>
            <td>Type:</td>
            <td><input type="text" th:field="*{type}"/></td>
            <td th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Name Error</td>
        </tr>
        <tr>
            <td><input type="submit" value="Update song"></td>
        </tr>
    </table>
</form>
</body>
</html>