<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<h1>Create Blog</h1>
<p>
    <a href="/blog/list">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/blog/create}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Topic:</td>
            <td>
                <select th:field="*{topic}">
                    <option selected disabled value="">Choose</option>
                    <option th:each="topic: ${topicList}" th:value="${topic.id}" th:text="${topic.topic}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><textarea type="text" th:field="*{content}" rows="10"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create blog"></td>
        </tr>
    </table>
</form>
</body>
</html>