<!DOCTYPE html>
<html lang="en">
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" th:object="${product}">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Amount</td>
        <td>Description</td>
    </tr>
    <tr th:each="product : ${productList} ">
        <td th:text="${product.productId}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.productAmount}"></td>
        <td th:text="${product.description}"></td>
    </tr>
</table>
</body>
</html>