<!DOCTYPE html>
<html lang="en">
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" th:object="${product}">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Amount</td>
        <td>Description</td>
    </tr>
<!--    <tr>-->
<!--        <td th:text="*{product.getProductId()}"></td>-->
<!--        <td th:text="*{product.getProductName()}"></td>-->
<!--        <td th:text="*{product.getProductAmount()}"></td>-->
<!--        <td th:text="*{product.getDescription()}"></td>-->
<!--    </tr>-->
    <tr>
        <td th:text="*{productId}"></td>
        <td th:text="*{productName}"></td>
        <td th:text="*{productAmount}"></td>
        <td th:text="*{description}"></td>
    </tr>
</table>
</body>
</html>