<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Customer</title>
</head>
<body>
<h1>Delete customer</h1>
<h2>Are you sure?</h2>
<!--<p>-->
<!--    <a href="/customer/list">Customer list</a>-->
<!--</p>-->
<!--<form th:action="@{/customer/delete-customer}" th:object="${customer}" method="post">-->
<form>
    <input th:type="hidden" name="id">
    <table>
        <tr>
            <td>Customer Type:</td>
            <td th:text="${customer.customerType.getCustomer_type_name()}"/>
            </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td th:text="${customer.customer_name}"/>
            </td>
        </tr>
        <tr>
            <td>Birthday:</td>
            <td th:text="${customer.customer_birthday}"/>
            </td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td th:switch="${customer.customer_gender}">
                <p th:case="1">Nữ</p>
                <p th:case="0">Nam</p>
            </td>
        </tr>
        <tr>
            <td>ID card:</td>
            <td th:text="${customer.customer_id_card}"/>
            </td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td th:text="${customer.customer_phone}"/>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${customer.customer_email}"/>
            </td>
        </tr>
        <tr>
            <td>Address:</td>
            <td th:text="${customer.customer_address}"/>
            </td>
        </tr>
        <!--        <tr>-->
        <!--            <td><input type="submit" value="Delete blog"></td>-->
        <!--        </tr>-->
        <tr>
            <button id="clickDelete" type="button" class="btn bg-danger"
                    th:onclick="'javascript:actionDelete(\''+${customer.customer_id}+'\');'">Delete
            </button>
        </tr>
    </table>

    <!--    <h1>Delete?</h1>-->
    <!--    <h2>Are you sure?</h2>-->
    <!--    <input type="hidden" th:field="${customer.customer_id}">-->
    <!--    <div>-->
    <!--        Customer Name: <p th:text="${customer.customer_name}"></p>-->
    <!--        Customer Phone: <p th:text="${customer.customer_phone}"></p>-->
    <!--        Do you sure to delete?-->
    <!--    </div>-->
    <!--    <button id="clickDelete" type="button" class="btn bg-danger"-->
    <!--            th:onclick="'javascript:actionDelete(\''+${customer.customer_id}+'\');'">Delete-->
    <!--    </button>-->
</form>
</body>
</html>